SECRET_KEY=cambia_esto_por_clave_segura
ADMIN_CODE=codigo_admin

DATABASE_URL=sqlite:////var/data/db.sqlite3

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_URL=

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SENDER=
EMAIL_PASSWORD=
EMAIL_RECEIVER=
